{% extends "base.html.twig" %}

{% block body %}


                <h1>{{ welcome }}</h1>

                <p><a href="{{ path('app_news') }}">ACCEDER A NOTICIAS</a></p>
                <p><a href="http://localhost:4200/inicio">Volver a Inicio</a></p>
                <p><a href="{{ path('app_logout') }}">Cerrar sesión</a></p>

{% endblock %}

