<br><br><br><br>
<footer>
    <div class="container p-4">
        <div class="row">
            <div class="col-lg-5 col-md-12 mb-4 mb-md-0">
                <h5 class="text-uppercase">Sobre Nosotros</h5>
                <p class="sobre-nosotros">
                    Explora la magia de la enseñanza en Tanzania con nuestra asociación. Únete a nosotros y viaja para impartir clases a niños necesitados. No solo cambiarás vidas a través de la educación, sino que también construirás puentes hacia un futuro más brillante. Sé parte de esta experiencia única y contribuye a hacer de la educación un derecho para todos. ¡Únete a nosotros y hagamos juntos un impacto duradero!
                </p>
            </div>

            <div class="col-lg-3 offset-lg-1 col-md-6 mb-4 mb-md-0">
                <h5 class="text-uppercase">Contacto</h5>

                <ul class="list-unstyled mb-0">
                    <li>
                        <a href="#!" class="text-white" style="text-decoration: none;">Escribeme: <br>
                            emburisproyect.com</a>
                    </li>
                    <br>
                    <li>
                        <a href="#!"  class="text-white" style="text-decoration: none;">Número de Teléfono: <br>
                            +34 693 396 940 </a>
                    </li>
                    </ul>
            </div>

            <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
                <h5 class="text-uppercase mb-0">Redes Sociales</h5>

                <a href="https://www.instagram.com/emburisproject_/" class="text-dark" alt="Imagen Instagram"><img
                        src="../../../assets/image/instagram.png"></a>
                <a href="https://www.facebook.com/people/EmburisProject/100063512257453/?hc_ref=ARTMdeZGAoG9JEatNdZT7eFkLcFDgUsozTplqL2dNSWRYBJ3neFSqTdTEqCzTY5uULY&fref=nf&__xts__[0]=68.ARAnBwS1JOpjk8CF00guQrTPW5o7zUt6vfG8KVm0Ph-j5t2NXHtbbivL9--o30J4zveAIbiddBoZMl43iXCjjthYVcFlg6jnM4QuLNoJJ2LfzlP1pGn458RwhWe81msOfnLz4PEgPwU7L2GujIhh3rLqf20arx9ICq8D9vsBjjek_Ubz8YXqChmEGixVba45-KunQf8i4oKM_cskKEs8uL3-ibWKNb5wXrRX4UNj0g0mbi-JqZLFctEvAmebnQNwkiluugBYfKPkHhYzkfY82wG3IsVjEvEi-AXov_MZMokDfSw" class="text-dark" alt="Imagen facebook"><img
                        src="../../../assets/image/facebook.png"></a>
            </div>
        </div>
    </div>

    <div style="text-align: center;">
        <a href="#" style="text-decoration: none; color: #cc8d5a;">©
            2024 - Diseñado por DEV Squad</a>
    </div>
</footer>