<!-- Header -->
<header>
    <!-- Barra de Navegación -->
    <nav class="navbar navbar-expand-sm navbar-light ">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#opciones">
            <span class="navbar-toggler-icon"></span>
        </button>

        <!-- Logo -->
        <div class="mx-auto">
            <a href="/inicio" class="text-dark" alt="Imagen logo"><img  width="100" height="100"
                src="../../../assets/image/favicon.png"></a>
        </div>
        


        <!-- enlaces -->
        <div class="collapse navbar-collapse justify-content-center" id="opciones">
            <ul class="navbar-nav">
              <li class="nav-item" routerLinkActive="active">
                <a style="text-decoration: none;" routerLink="/inicio">Inicio</a>
              </li>
              <li class="nav-item" routerLinkActive="active">
                <a style="text-decoration: none;" routerLink="/estancia">Estancia</a>
              </li>
              <li class="nav-item" routerLinkActive="active">
                <a style="text-decoration: none;" routerLink="/inscripcion">Inscripcion</a>
              </li>
              <li class="nav-item" routerLinkActive="active">
                <a style="text-decoration: none;" routerLink="/sobre-nosotros">Sobre Nosotros</a>
              </li>
            </ul>
          </div>
          

        <!-- iconos a la derecha -->
        <div class="d-flex">
            <a class="navbar-brand" href="#">
                <img src="../../../assets/image/españa.png" width="60" height="35" alt="imagen bandera de España">
            </a>
            <a class="navbar-brand" href="#">
                <img src="../../../assets/image/ingles.webp" width="60" height="35" alt="imagen bandera de Inglaterra">
            </a>
            <a class="navbar-brand" href="#">
                <img src="../../../assets/image/perfil.png" width="50" height="50" alt="imagen de perfil">
            </a>
        </div>
    </nav><br><br><br>
</header>