{% extends "base.html.twig" %}

{% block body %}

                    <table border='1px solid'>
                        <thead>
                            <tr>
                                <th>Título</th>
                                <th>Descripción</th>
                            </tr>
                        </thead>
                        <tbody>
                                <tr>
                                    <td>{{ new.getTitle() }}</td>
                                    <td>{{ new.getDescription() }}</td>
                                </tr>
                        </tbody>
                    </table>

                    <br>

                    <a href="{{ path('app_news') }}"><img width='50px' src="{{asset('images/return.png')}}"/></a>
                </div>


{% endblock %}