.Jumbotron {

    background-image: url('../../../../assets/image/jumbotron.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    padding: 200px;
    text-align: right;
    border-radius: 5px;
    background-position: 40% 40%;
    
  }
