<!-- Sobre Nosotros -->

    <div class="row mt-3 align-items-center">
        <div class="col-sm-12 col-md-6">
            <img src="../../../assets/image/imagen1.jpg" alt="Imagen representativo">
        </div>
        <div class="col-sm-12 col-md-6">
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Aut maiores explicabo error id odio eum illum provident est. Optio fugit culpa aperiam officiis iste eveniet perferendis distinctio illum doloribus cupiditate.</p>
        </div>
    </div>
    <div class="row mt-3">
        <div class="col-sm-12 col-md-6 order-2 order-md-1 align-items-center d-flex">
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Aut maiores explicabo error id odio eum illum provident est. Optio fugit culpa aperiam officiis iste eveniet perferendis distinctio illum doloribus cupiditate.</p>
        </div>
        <div class="col-sm-12 col-md-6 order-sm-1 order-md-2">
            <img src="../../../assets/image/imagen2.jpg" alt="Imagen representativo">
        </div>
    </div>
<br><br><br><hr><br>


<!-- Video -->
<!-- <section style="text-align: center;">
    <h4>Clases</h4><br>
    <iframe width="45%" height="350" controls muted  src="https://www.youtube.com/embed/wGCPv5kjxgc" frameborder="0" allowfullscreen muted ></iframe>
    <br><br><br>
</section> -->


