<!-- Sobre Nosotros -->
<div class="container">
  <div class="row mt-3 align-items-center">
    <div class="col-sm-12 col-md-6">
      <img
        src="../../../assets/image/imagen1.jpg"
        alt="Imagen representativo"
      />
    </div>
    <div class="col-sm-12 col-md-6">
      <p>
        El proyecto se enfoca en el desarrollo de una escuela compuesta por una
        única aula, donde alrededor de 60 niños con edades comprendidas entre
        los cuatro y siete años participan de manera regular. En la actualidad,
        la institución cuenta con la presencia de dos profesoras cuya labor se
        orienta hacia la atención de la diversidad de niveles presentes en el
        aula. Este enfoque es necesario debido a la amplia gama de habilidades y
        conocimientos que poseen los niños, lo cual demanda una atención
        personalizada para garantizar un entorno educativo adaptado a sus
        necesidades individuales. La presencia de dos docentes permite abordar
        de manera más efectiva las distintas etapas de aprendizaje y
        proporcionar un apoyo adecuado a cada estudiante, contribuyendo así al
        desarrollo integral y equitativo de los niños en esta fase crucial de su
        educación.
      </p>
    </div>
  </div>
  <div class="row mt-3">
    <div
      class="col-sm-12 col-md-6 order-2 order-md-1 align-items-center d-flex"
    >
      <p>
        Los niños que asisten a la escuela, al igual que toda la comunidad de
        Enguiki y Monduli, son miembros de la tribu Maasai. Los Maasai son una
        tribu indígena que se encuentra en áreas específicas de Kenia y
        Tanzania. Se distinguen por sus vestimentas coloridas, con telas a
        cuadros, y suelen llevar bastones y adornos llamativos como pulseras,
        brazaletes, collares y pendientes. Su principal actividad económica es
        la agricultura y la ganadería, y hablan el idioma maa.
      </p>
    </div>
    <div class="col-sm-12 col-md-6 order-sm-1 order-md-2">
      <img
        src="../../../assets/image/imagen2.jpg"
        alt="Imagen representativo"
      />
    </div>
  </div>
  <div class="row mt-3 align-items-center">
    <div class="col-sm-12 col-md-6">
      <img src="../../../assets/image/sn3.jpg" alt="Imagen representativo" />
    </div>
    <div class="col-sm-12 col-md-6">
      <p>
        El sistema educativo en Tanzania comprende la Escuela Primaria y la
        Escuela Secundaria, equivalentes a la educación obligatoria en España
        (Primaria y E.S.O.). La Escuela Primaria consta de siete cursos, y para
        ingresar, los alumnos deben cumplir con un nivel mínimo de habilidades,
        que incluye contar hasta cien, realizar sumas básicas, conocer colores y
        tener conocimientos básicos de lectura y escritura. El primer objetivo
        de nuestra escuela es preparar a los alumnos para que puedan ingresar a
        la Escuela Primaria, además de proporcionarles una comida caliente al
        día, ya que muchos niños asisten a la escuela principalmente por esta
        razón.
      </p>
    </div>
  </div>
  <div class="row mt-3">
    <div
      class="col-sm-12 col-md-6 order-2 order-md-1 align-items-center d-flex"
    >
      <p>
        En nuestra escuela, ofrecemos una educación bilingüe para preparar a los
        niños para su futuro. Dado que en Tanzania la Escuela Primaria se
        imparte en swahili y la Escuela Secundaria en inglés, nosotros nos
        aseguramos de que los alumnos alcancen el nivel necesario en ambas
        lenguas. Esto les proporciona una base sólida, independientemente de la
        dirección que elijan en su educación futura. Es importante destacar que
        todos los niños son Maasai y hablan su lengua nativa, el maa, por lo que
        tanto alumnos como profesores deben esforzarse por enseñar y aprender
        los otros dos idiomas en la escuela.
      </p>
    </div>
    <div class="col-sm-12 col-md-6 order-sm-1 order-md-2">
      <img src="../../../assets/image/sn5.jpg" alt="Imagen representativo" />
    </div>
  </div>
  <div class="row mt-3 align-items-center">
    <div class="col-sm-12 col-md-6">
      <img src="../../../assets/image/sn4.jpg" alt="Imagen representativo" />
    </div>
    <div class="col-sm-12 col-md-6">
      <p>
        Otro objetivo importante del proyecto es reducir el riesgo y el esfuerzo
        que los niños enfrentan al tener que caminar largas distancias para
        llegar a la escuela. Anteriormente, los alumnos tenían que caminar hasta
        una hora desde Enguiki, e incluso algunos recorrían hasta diez
        kilómetros diarios, exponiéndose a peligros como el cruce de ríos
        durante el invierno y la temporada de lluvias. Trágicamente, un niño
        perdió la vida al ser arrastrado por la corriente mientras cruzaba entre
        dos montañas. Al tener una escuela en Enguiki, se evitan estos riesgos y
        se asegura que los niños puedan acceder a la educación de manera más
        segura y accesible.
      </p>
    </div>
  </div>
  <div class="row mt-3">
    <div
      class="col-sm-12 col-md-6 order-2 order-md-1 align-items-center d-flex"
    >
      <p>
        Además de los objetivos educativos y de seguridad, la presencia de la
        escuela en Enguiki cumple una función crucial al brindar a muchos niños
        la oportunidad de tener una infancia. Sin la escuela, muchos de estos
        niños se dedicarían al pastoreo de vacas desde temprana edad, sin la
        supervisión de adultos. La existencia de la escuela les permite tener
        una infancia completa, en la que pueden desarrollar habilidades
        cognitivas y sociales al interactuar con otros niños, así como
        contribuir al desarrollo social futuro de la comunidad. En resumen, la
        escuela no solo proporciona educación, sino que también ofrece a los
        niños la oportunidad de disfrutar de una infancia plena y beneficiosa
        para su desarrollo personal y el de la comunidad en su conjunto.
      </p>
    </div>
    <div class="col-sm-12 col-md-6 order-sm-1 order-md-2">
      <img src="../../../assets/image/sn6.jpg" alt="Imagen representativo" />
    </div>
  </div>

  <br /><br /><br />
  <hr />
  <br />

  <!-- Video -->
  <section style="text-align: center">
    <h4>Clases</h4>
    <br />
    <iframe
      width="45%"
      height="350"
      controls
      muted
      src="https://www.youtube.com/embed/wGCPv5kjxgc"
      frameborder="0"
      allowfullscreen
      muted
    ></iframe>
    <br /><br /><br />
  </section>
</div>
