<!-- Estancia -->
<div class="container">
  <div class="row mt-3">
    <div class="col-12">
      <img
        src="../../../assets/image/Estancia.png"
        alt="Imagen representativo"
      />
      <h2 class="mt-3">
        Ubicación
        <button
          class="boton"
          class="btn btn-link boton text-black"
          data-toggle="collapse"
          data-target="#ubicacionCollapse"
          aria-expanded="false"
          aria-controls="Contenido de Ubicación"
        ></button>
        <hr />
      </h2>
      <div class="collapse" id="ubicacionCollapse">
        <p>
          Estarás alojado en Enguiki, un barrio de Monduli, que es parte de un
          pueblo más grande en Tanzania. Enguiki está en lo alto de Monduli,
          rodeado de montañas. Aunque hay algunos servicios y tiendas modestas,
          para alimentos básicos se debe bajar a Monduli. Se recomienda
          acompañar al guía para comprar en el mercado local.
        </p>
      </div>
      <h2 class="mt-3">
        Alojamiento
        <button
          class="boton"
          class="btn btn-link boton text-black"
          data-toggle="collapse"
          data-target="#AlojamientoCollapse"
          aria-expanded="false"
          aria-controls="Contenido de Alojamiento"
        ></button>
      </h2>
      <hr />
      <div class="collapse" id="AlojamientoCollapse">
        <p>
          La casa proporcionada ofrece comodidades occidentales como televisión,
          cama, cocina y sofás. La única excepción es el baño, que no cuenta con
          alcantarillado, requiriendo que te duches con un cubo de agua. Si el
          precio de esta casa es un problema, hay alternativas más económicas
          disponibles.
        </p>
      </div>
      <h2 class="mt-3">
        Convivencia
        <button
          class="boton"
          class="btn btn-link boton text-black"
          data-toggle="collapse"
          data-target="#ConvivenciaCollapse"
          aria-expanded="false"
          aria-controls="Contenido de Convivencia"
        ></button>

        <hr/>
      </h2>
      <div class="collapse" id="ConvivenciaCollapse">
        <p>
          Durante tu estadía, compartirás la casa con una cocinera que preparará
          todas las comidas y se encargará del mantenimiento. Además, contarás
          con la presencia de Lucas, el creador y responsable de Emburis, quien
          será tu guía, estará contigo durante el día, acompañándote a la
          escuela, facilitando la comunicación con los niños y profesores, y
          ofreciendo actividades para tu tiempo libre, como paseos por las
          montañas.
        </p>
      </div>
      <h2 class="mt-3">
        Asistencia
        <button
          class="boton"
          class="btn btn-link boton text-black"
          data-toggle="collapse"
          data-target="#asistenciaCollapse"
          aria-expanded="false"
          aria-controls="Contenido de asistencia"
        ></button>
      </h2>
      <div class="collapse" id="asistenciaCollapse">
        <p>
          Lucas será tu punto de contacto principal para cualquier necesidad
          durante tu estadía, y podrás comunicarte con él en inglés. Estará
          presente desde el desayuno hasta después de la cena, brindándote apoyo
          y asegurándose de que tengas una experiencia satisfactoria durante tu
          voluntariado.
        </p>
      </div>
    </div>
  </div>
</div>
<div class="row mt-3">
  <div class="col-12">
    <iframe
      src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3983.244253519391!2d36.44636147406159!3d-3.289559741095329!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x1836e7296c711447%3A0x78c7e7097e73e0ef!2sEmburis%20Primary%20School!5e0!3m2!1ses!2ses!4v1707739272716!5m2!1ses!2ses"
      width="600"
      height="450"
      style="border: 0"
      allowfullscreen=""
      loading="lazy"
      referrerpolicy="no-referrer-when-downgrade"
    ></iframe>
  </div>
</div>
