iframe{
    height: 300px;
    width: 100%
}

img{
    height: 300px;
    width: 100%;
}

p {
    text-align: justify;
}

.imagen{
  height: 500px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.boton {
    background-image: url("../../../assets/image/flechaAbajo.png");
    background-size: cover;
    width: 25px;
    height: 25px;
    border: none;
    cursor: pointer;
    transition: transform 0.3s ease; /* Agrega una transición para suavizar el efecto */
  }
  
  .boton:hover {
    transform: scale(1.2); /* Escala el botón al 120% cuando el cursor está sobre él */
  }

  .custom-button {
    background-color: #cc8d5a; /* Cambia #ff0000 por el color que desees en formato hexadecimal, RGB, o nombre del color */
  }
