<!-- Estancia -->
<div class="container">
    <div class="row mt-3">
        <div class="col-12">
            <img src="../../../assets/image/letra-x.png" alt="Imagen representativo">
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Aut maiores explicabo error id odio eum illum provident est. Optio fugit culpa aperiam officiis iste eveniet perferendis distinctio illum doloribus cupiditate.</p>
        </div>
    </div>
    <div class="row mt-3">
        <div class="col-12">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3983.244253519391!2d36.44636147406159!3d-3.289559741095329!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x1836e7296c711447%3A0x78c7e7097e73e0ef!2sEmburis%20Primary%20School!5e0!3m2!1ses!2ses!4v1707739272716!5m2!1ses!2ses" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
    </div>
</div>
