<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-wEmeIV1mKuiNpC+IOBjI7aAzPcEZeedi5yW5f2yOq55WWLwNGmvvx4Um1vskeMj0"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="inscripcion.component.css" type="text/css" />
    <title>Inscripción</title>
  </head>
  <body>
    <section class="container">
      <form action="http://localhost:8000/procesarFormulario" method="post">
        <div class="row justify-content-center">
          <div class="col-sm-4">
            <div class="mb-3">
              <label for="nombre" class="form-label">Nombre</label>
              <input 
                type="text"
                class="form-control"
                id="nombre"
                name="nombre"
                placeholder=""
                required
              />
            </div>
          </div>
          <div class="col-sm-4">
            <div class="mb-3">
              <label for="apellidos" class="form-label" >Apellidos</label>
              <input 
                type="text"
                class="form-control"
                id="apellidos"
                name="apellidos"
                placeholder=""
                required
              />
            </div>
          </div>
        </div>
        <div class="row justify-content-center">
          <div class="col-sm-4">
            <div class="mb-3">
              <label for="dni" class="form-label">DNI</label>
              <input 
                type="text"
                class="form-control"
                id="dni"
                name="dni"
                pattern="\d{8}[A-Za-z]"
                placeholder="12345678A"
                required
              />
            </div>
          </div>
          <div class="col-sm-4">
            <div class="mb-3">
              <label for="pasaporte" class="form-label">Pasaporte</label>
              <input 
                type="text"
                class="form-control"
                id="pasaporte"
                name="pasaporte"
                pattern="[A-Za-z]{3}\d{6}"
                placeholder="ABC123456"
                required
              />
            </div>
          </div>
        </div>
        <div class="row justify-content-center">
          <div class="col-sm-4">
            <div class="mb-3">
              <label for="mail" class="form-label">Correo electrónico</label>
              <input 
                type="email"
                class="form-control"
                id="mail"
                name="mail"
                pattern="[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}"
                title="Ingrese una dirección de correo electrónico válida"
                placeholder="example@example.es"
                required
              />
            </div>
          </div>
          <div class="col-sm-4">
            <div class="mb-3">
              <label for="telf" class="form-label">Teléfono</label>
              <input 
                type="tel"
                class="form-control"
                id="telf"
                name="telf"
                pattern="\d{9}"
                placeholder="698 745 321"
                required
              />
            </div>
          </div>
        </div>
        <div class="row justify-content-center">
          <div class="col-sm-8">
            <div class="mb-3">
              <div class="form-group">
                <label for="comentarios">Déjanos tu comentario:</label>
                <textarea 
                  class="form-control"
                  rows="4"
                  id="comentarios"
                  name="comentarios"
                  placeholder="Si tiene algún tipo de alergía, díganosla aquí"
                ></textarea>
              </div>
            </div>
          </div>
        </div>
        <div class="row justify-content-center">
          <div class="col-sm-8">
            <div class="mb-3">
              <div class="form-check">
                <input
                  class="form-check-input"
                  type="checkbox"
                  value=""
                  id="flexCheckDefault"
                  required
                />
                <label class="form-check-label" for="flexCheckDefault">
                  Mayor de 18 años
                </label>
              </div>
              <div class="mt-3">
                <button type="submit" class="btn">Enviar</button>
              </div>
            </div>
          </div>
        </div>
      </form>
    </section>
  </body>
</html>
