<!-- Cards -->

  <div id="card1" class="card text-center bg-primary text-dark ">
    <img src="../../../../assets/image/IMG_20230731_112108.jpg" class="card-img-top" height="250"
      alt="Imagen Noticia1" />
    <div class="card-body">
      <h4 class="card-title text-white">{{nameNew}}</h4>
      <p class="card-text text-white">pisum lorem</p>
      <p class="card-text text-white collapse" id="textoNoticia1" style="overflow: hidden">
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Cum
        molestiae expedita esse incidunt voluptatibus. Esse maxime
        exercitationem reiciendis possimus, soluta fuga ex officia atque et
        aperiam perspiciatis deserunt impedit beatae.
      </p>
      <a href="#textoNoticia1" class="btn btn-dark" data-bs-toggle="collapse" role="button" aria-expanded="false"
        aria-controls="Noticia1">Ver Más</a>
    </div>
  </div>
