/* .card {
    width: 350px;
    background-color: #fafafa;
    border-radius: 20px;
    margin: 20px;
    margin-top: 100px;

    transition: transform 0.7s ease-in-out;
    color: #6c380d;

  }
  
  .card:hover {
    transform: scale(1.05);
  }
  
  .card img {
    width: 100%;
    height: 400px;
    margin-top: 30px;
    margin-bottom: 20px;
    object-fit: cover;
    border-radius: 30px 30px 30px 30px;
  }
  
  .card-body {
    padding: 20px;
    max-height: 150px;
    overflow: hidden;
    transition: max-height 0.5s ease;
    background-color: #fdfdfd;
    border-radius: 30px;
    
  }
  
  .card-title {
    font-size: 2em;
    margin-bottom:50px;
  }
  
  .card p {
    font-size: 1.2em;
    margin-bottom: 60px;
    
  } */
  .card-body{
    background-color: #68360c;
}
