<!-- <div class="container-fluid">
  <div class="row justify-content-center align-items-center">
 -->
<!-- Card 1 -->
<!--     <div class="card col-lg-4 col-md-6 col-sm-12 mb-4 ">
      <img class="card-img-top" src="https://images3.memedroid.com/images/UPLOADED465/652c96941a023.jpeg" />
      <div class="card-body">
        <h4 class="card-title">lorem pisum</h4>
        <p class="card-text">
          Lorem, ipsum dolor sit amet consectetur adipisicing elit. Vel illo nesciunt possimus laudantium nostrum est
          earum quisquam dolore odio, cum sapiente, commodi consequuntur ea doloremque eligendi ab. Sunt, est obcaecati?
        </p>
      </div>
    </div> -->

<!-- Card 2 -->
<!--   <div class="card col-lg-4 col-md-6 col-sm-12 mb-4 ">
      <img class="card-img-top" src="https://images3.memedroid.com/images/UPLOADED465/652c96941a023.jpeg" />
      <div class="card-body">
        <h4 class="card-title">lorem pisum</h4>
        <p class="card-text">
          Lorem, ipsum dolor sit amet consectetur adipisicing elit. Vel illo nesciunt possimus laudantium nostrum est
          earum quisquam dolore odio, cum sapiente, commodi consequuntur ea doloremque eligendi ab. Sunt, est obcaecati?
        </p>
      </div>
    </div> -->

<!-- Card 3 -->
<!--    <div class="card col-lg-4 col-md-6 col-sm-12 mb-4 ">
      <img class="card-img-top" src="https://images3.memedroid.com/images/UPLOADED465/652c96941a023.jpeg" />
      <div class="card-body">
        <h4 class="card-title">lorem pisum</h4>
        <p class="card-text">
          Lorem, ipsum dolor sit amet consectetur adipisicing elit. Vel illo nesciunt possimus laudantium nostrum est
          earum quisquam dolore odio, cum sapiente, commodi consequuntur ea doloremque eligendi ab. Sunt, est obcaecati?
        </p>
      </div>
    </div>

  </div>
</div> -->

<!-- Cards -->
<section>
  <br /><br><br><br>
  <h2 class="text-center">NOTICIAS</h2>
  <br />
  <div class="row">
    <article class="col-xl-4 col-md-4 col-sm-4 mb-4">
      <div id="card1" class="card text-center bg-primary text-dark ">
        <img src="../../../../assets/image/IMG_20230731_112108.jpg" class="card-img-top" height="250"
          alt="Imagen Noticia1" />
        <div class="card-body">
          <h4 class="card-title text-white">Noticia 1</h4>
          <p class="card-text text-white">pisum lorem</p>
          <p class="card-text text-white collapse" id="textoNoticia1" style="overflow: hidden">
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Cum
            molestiae expedita esse incidunt voluptatibus. Esse maxime
            exercitationem reiciendis possimus, soluta fuga ex officia atque et
            aperiam perspiciatis deserunt impedit beatae.
          </p>
          <a href="#textoNoticia1" class="btn btn-dark" data-bs-toggle="collapse" role="button" aria-expanded="false"
            aria-controls="Noticia1">Ver Más</a>
        </div>
      </div>
    </article>

    <article class="col-xl-4 col-md-4 col-sm-4 mb-4">
      <div id="card2" class="card text-center bg-primary text-dark ">
        <img src="../../../../assets/image/IMG_20230802_085957.jpg" class="card-img-top" height="250"
          alt="Imagen Noticia2" />
        <div class="card-body">
          <h4 class="card-title text-white">Noticia 2</h4>
          <p class="card-text text-white">pisum lorem</p>
          <p class="card-text text-white collapse" id="textoNoticia2" style="overflow: hidden">
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Cum
            molestiae expedita esse incidunt voluptatibus. Esse maxime
            exercitationem reiciendis possimus, soluta fuga ex officia atque et
            aperiam perspiciatis deserunt impedit beatae.
          </p>
          <a href="#textoNoticia2" class="btn btn-dark" data-bs-toggle="collapse" role="button" aria-expanded="false"
            aria-controls="Noticia2">Ver Más</a>
        </div>
      </div>
    </article>

    <article class="col-xl-4 col-md-4 col-sm-4 mb-4">
      <div id="card3" class="card text-center bg-primary text-dark ">
        <img src="../../../../assets/image/Embu1.jpg" class="card-img-top" height="250" alt="Imagen Noticia3" />
        <div class="card-body">
          <h4 class="card-title text-white">Noticia 3</h4>
          <p class="card-text text-white">pisum lorem</p>
          <p class="card-text text-white collapse" id="textoNoticia3" style="overflow: hidden">
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Cum
            molestiae expedita esse incidunt voluptatibus. Esse maxime
            exercitationem reiciendis possimus, soluta fuga ex officia atque et
            aperiam perspiciatis deserunt impedit beatae.
          </p>
          <a href="#textoNoticia3" class="btn btn-dark" data-bs-toggle="collapse" role="button" aria-expanded="false"
            aria-controls="Noticia3">Ver más</a>
        </div>
      </div>
    </article>
  </div>
  <br />
</section>