<div class="container-fluid">
  <div class="row row-cols-3 justify-content-center align-items-center">
    <div class="card mb-4 flex-grow-1">
      <img
        class="card-img-top"
        src="https://images3.memedroid.com/images/UPLOADED465/652c96941a023.jpeg"
      />
      <div class="card-body">
        <h4 class="card-title">lorem pisum</h4>
        <p class="card-text">
          Lorem, ipsum dolor sit amet consectetur adipisicing elit. Vel illo
          nesciunt possimus laudantium nostrum est earum quisquam dolore odio,
          cum sapiente, commodi consequuntur ea doloremque eligendi ab. Sunt,
          est obcaecati?
        </p>
      </div>
    </div>
    <div class="row row-cols-3 justify-content-center align-items-center">
      <div class="card mb-4 flex-grow-1">
        <img
          class="card-img-top"
          src="https://images3.memedroid.com/images/UPLOADED465/652c96941a023.jpeg"
        />
        <div class="card-body">
          <h4 class="card-title">lorem pisum</h4>
          <p class="card-text">
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Vel illo
            nesciunt possimus laudantium nostrum est earum quisquam dolore odio,
            cum sapiente, commodi consequuntur ea doloremque eligendi ab. Sunt,
            est obcaecati?
          </p>
        </div>
      </div>
    </div>
    <div class="row row-cols-3 justify-content-center align-items-center">
      <div class="card mb-4 flex-grow-1">
        <img
          class="card-img-top"
          src="https://images3.memedroid.com/images/UPLOADED465/652c96941a023.jpeg"
        />
        <div class="card-body">
          <h4 class="card-title">lorem pisum</h4>
          <p class="card-text">
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Vel illo
            nesciunt possimus laudantium nostrum est earum quisquam dolore odio,
            cum sapiente, commodi consequuntur ea doloremque eligendi ab. Sunt,
            est obcaecati?
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
